body{
    display: flex;
    justify-content: center;
    align-items: center;}

.Ensemble{
    border: 5px solid rgb(0, 0, 0);
    width: 510px;
    height: 510px;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
    position: relative;}

.Square{
border: 1px solid black;
width: 24%;
height: 24%;
margin: 1px 2px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
font-size: 40px;
font-weight: bold;
cursor: pointer;
background-image: url(img/portal.jpg);
background-size: 500px ;
}


/*
.Colorsquare{
    background: linear-gradient(#ffffff, #000000);}*/

.block-1{
    position: absolute;
    top:0;
    left: 0;
    background-position: 0px 0px;}

.block-2{
    position: absolute;
    top:0;
    left: 125px;
    background-position: -125px 0px;}

.block-3{
    position: absolute;
    top:0;
    left: 250px;
    background-position: -250px 0px;}

.block-4{
    position: absolute;
    top:0;
    left: 375px;
    background-position: -375px 0px;}

.block-5{
    position: absolute;
    top:125px;
    left: 0px;
    background-position: 0px -125px;}

.block-6{
    position: absolute;
    top:125px;
    left: 125px;
    background-position: -125px -125px;}

.block-7{
    position: absolute;
    top:125px;
    left: 250px;
    background-position: -250px -125px;}

.block-8{
    position: absolute;
    top:  125px;
    left: 375px;
    background-position: -375px -125px;}

.block-9{
    position: absolute;
    top:250px;
    left: 0;
    background-position: 0px -250px;}

.block-10{
    position: absolute;
    top:250px;
    left: 125px;
    background-position: -125px -250px;}

.block-11{
    position: absolute;
    top:250px;
    left: 250px;
    background-position: -250px -250px;}

.block-12{
    position: absolute;
    top:250px;
    left: 375px;
    background-position: -375px -250px;}

.block-13{
    position: absolute;
    top:375px;
    left: 0;
    background-position: 0px -375px;}

.block-14{
    position: absolute;
    top:375px;
    left: 125px;
    background-position: -125px -375px;}

.block-15{
    position: absolute;
    top:375px;
    left: 250px;
    background-position: -250px -375px;}

.blanc{
    position: absolute;
    top:375px;
    left: 375px;
    background-attachment: none;}