.page{
    width: 1200px; margin: auto;
}

body{margin: 0;}
.flex{display:flex;
    justify-content:space-between;
    flex-wrap: wrap;}




.square{width: 23%;}

.square-red{background-color: red;  
    height: 40px;
    width: 25%;}

.square-aqua{background-color: teal;  
    height: 40px;
    width: 70%;}


.gray{background-color: gray;
    height: 80px;}

.yellow{background-color: yellow;
    height: 40px;}
     




@media(max-width:1199px){

    .page{width: 992px;}
    .square-red{width: 16%;}
    .square-aqua{width: 83%;}

    .square{width: 30%;
    margin-bottom: 20px;}}

        

@media(max-width:991px){
    .square{width: 49%;}}




@media(max-width:767px){
        .square{width: 100%;}
        .colonne{flex-direction: column-reverse;}
        .square-red{
            width: 100%;}
            .square-aqua{width: 100%;}


    /*

        .square-red{order: 1;
            width: 100%;}

        
        .square-aqua{width: 100%;}

*/

        }
